.bg-img-add {
  background: url('../../assets//images/nav_bg_img.jpg') center;
  background-repeat: no-repeat;
  z-index: 1;
  position: relative;
  background-size: cover;
}
.bg-img-add::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  bottom: 0;
  background-color: #ffffff9e;
  color: black;
}
